@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;

}
body{
    background: rgb(219,226, 226);
}
.row{
    background: white;
    border-radius:10px;
    box-shadow: 12px 12px 22px gray;
    width:95%;
}
img{
    border-top-left-radius:10px ;
    border-bottom-left-radius:10px;
    float: left;
    
}
.btn1{
    border: none;
    outline:  none;
    height: 50px;
    width: 100%;
    background-color: black;
     color: white;
     border-radius: 4px;
     font-weight: bold;

}
.btn1:hover{
    background: white;
    border: 1px solid;
color: black;
}